import React from 'react';

function Home() {
  return (
    <div>
      <h1>Welcome to {{projectName}}</h1>
      <p>This is the home page of your React application.</p>
    </div>
  );
}

export default Home;